@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-abeezee: var(--font-abeezee);
  --font-bebas: var(--font-bebas);
  --font-oswald: var(--font-oswald);
  --color-primary: #5c899d;
  --color-secondary: #699D5C;
  --color-bg-primary:#fffcef;
  --spacing-pxGloabl: 40px;
  --container-widthGlobal: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*
Source - https://stackoverflow.com/a/63585953
Posted by Temani Afif
Retrieved 2026-01-30, License - CC BY-SA 4.0
*/

.container {
  display: grid;
  position: relative;
  justify-content: start; /* Alinha o grid no início, eliminando o espaço vazio */
  align-content: start;
  width: 100%;
  max-width: 1300px;
}

.container > div {
  border-radius: 30px;
  box-sizing:border-box;
  -webkit-mask: linear-gradient(#fff, #fff);
          mask: linear-gradient(#fff, #fff);
}

.container > div::before {
  content: "";
  position: absolute;
  z-index:-1;
  inset: 0;
  background: url("/hero_1.png") center/cover;
}

.container > div > div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
  border-radius: 30px;
  text-align:start;
  box-sizing:border-box;
}

.cls-1 {
    fill-rule: evenodd;
}



